/******** HEADER *********/
header{ /*Mise en place de la Flexbox Header*/
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/********LOGO********/
#logo{
    margin-left: 20px;
    padding: 25px 30px 25px 30px;
    flex: 1;
}

/********MENU*********/
#menu{
    display: inline-block;
}
#menu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline-start: 0px;
    margin-block: 0px;
}
#menu li{ 
    position: relative;
    padding: 40px 30px 40px 30px;
    list-style-type: none;
    text-align: center;
    height: 100%;
}
#menu a{  
    text-decoration: none;
    color: black;
    width: 100%;
    
}
#menu a:hover{ /*Effet au survol fixe*/
    color: #0065FC;
}

/********INSCRIPTION********/
#inscription a{
    display: inline-block;
    text-decoration: none;
    padding: 41px 30px 41px 30px;
    color: #0065FC;
    font-weight: bold;
    margin-right: 20px;
}

/******************** RESPONSIVE ********************/
/******** MOBILE ********/
@media screen and (max-width: 767px){
    body{
        max-width: 100%;
    }
    /********* HEADER ********/    
    #header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        width: auto;
    }
    #logo{ 
        order: 1;
        padding: 20px 30px 20px 30px;
    }
    #inscription{ 
        order: 2;
        position: absolute;
        width: auto;
        right: 0px;
        font-size: 16px;
    }
    #inscription a{
        padding:  35px 30px 35px 30px;
    }
    #menu{ 
        order: 3;
        width: 100%;
        margin-bottom: 15px;
    }
    #menu li{ /*Mise ne place du menu*/
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        padding: 25px;
        border-bottom: 2px #f2f2f2 solid;
    }
    #menu li:hover{ /*Effet au survol*/
        border-bottom: 2px #0065FC solid;
    }
}

/******** TABLETTE ********/
@media screen and (min-width: 768px) and (max-width: 1124px){
    body{
        max-width: 100%;
    }
    /********* HEADER ********/    
    #header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        width: auto;
    }
    #logo{ 
        order: 1;
        padding: 20px 30px 20px 30px;
    }
    #inscription{ 
        order: 2;
        position: absolute;
        width: auto;
        right: 0px;
        font-size: 16px;
    }
    #inscription a{
        padding:  35px 30px 35px 30px;
    }
    #menu{ 
        order: 3;
        width: 100%;
        margin-bottom: 15px;
    }
    #menu li{ /*Mise ne place du menu*/
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        padding: 25px;
        border-bottom: 2px #f2f2f2 solid;
    }
    #menu li:hover{ /*Effet au survol*/
        border-bottom: 2px #0065FC solid;
    }
}

/******** TABLETTE PAYSAGE & PC ********/
@media screen and (min-width: 1125px) and (max-width: 1599px){ 

    /******** HEADER *******/
    #menu li{
        border-top: transparent 2px solid;
    }
    #menu li:hover{ 
        border-top: #0065FC 2px solid;
    }
}

/******** PC LARGE ********/
@media screen and (min-width: 1599px){

/******** HEADER *******/
    #menu li{
        border-top: transparent 2px solid;
    }
    #menu li:hover{ 
        border-top: #0065FC 2px solid;
    }
}