/******** IMPORT CSS ********/
@import 'header.css'; 
@import 'footer.css';


/******** TITRE ********/
.titre{
    margin-left: 50px;
}
h1{
    font-size: 18px;
    font-weight: bold;
    padding: 0px; 
}
p{
    padding: 0px;
}

/******** RECHERCHE ********/
#recherche{
    align-items: baseline;
    margin-bottom: 20px;
    margin-top: 30px;
}
.fa-map-marker-alt{ /*Propriété Icons localisation*/
    color: black;
    background-color: #f2f2f2;
    padding: 15px;
    padding-top: 14px;
    border: 2px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}
.search{ /*Propiété zone de recherche*/
    font-weight: bold;
    color: black;
    padding: 15px;
    border: 1px solid #f2f2f2;
}
.buttonsearch{ /*Propriété du boutton rechecrcher*/
    color: white; 
    font-weight: bold;
    padding: 15px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}
.iconsearch{ /*Propriété du boutton de l'icon rechercher*/
    display: none;
    border-style: none;
    background-color: transparent;
}
.fa-search{ /*Propriété de l'icon rechercher*/
    color: white;
    padding: 15px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 15px
}

/******** FILTRES ********/
.filtres{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
h2{
    margin-right: 20px;
}

.filtres a{  
	text-decoration: none;
	color: black;
    font-weight: bold;
}

/* Propriété des filtres et icons*/
.filtre-name{ 
    padding-right: 20px;
    background-color: transparent;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    margin-right: 20px;
}

.fa-money-bill-wave{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    border: 2px solid #DEEBFF;
    border-radius: 50%;
}
.fa-child{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 10px;
    border: 2px solid #DEEBFF;
    border-radius: 50%;
} 
.fa-heart{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 10px;
    border: 2px solid #DEEBFF;
    border-radius: 50%;
}
.fa-dog{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 10px;
    border: 2px solid #DEEBFF;
    border-radius: 50%;
}

.filtre-name:hover{ /*Effet au survol des filtres*/
    box-shadow: inset 200px 0 0 0 #f2f2f2;
    border: 2px solid #DEEBFF;
    transition: ease-out 0.4s;
    cursor: pointer;
}

/******** INFO ********/
.info{
    margin-left: 50px; 
    justify-content: flex-start;
}
.fa-info{
    color: #0065FC;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
    margin-right: 5px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    display: inline-block;
}






/******** RESPONSIVE *******/
@media screen and (max-width: 767px){ /*Ecran de mobile*/
    body{
        max-width: 100%;
    }
    /******** TITRE ********/
    .buttonsearch{
        display: none;
    }
    .iconsearch{
        display: inline-block;
        margin-left: -20px;
    }

    /******** FILTRE ********/
    .filtres li{
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px){ /*Ecran de tablette*/
    body{
        max-width: 100%;
    }
    /******** TITRE ********/
    .buttonsearch{
        display: none;
    }
    .iconsearch{
        display: inline-block;
        margin-left: -20px;
    }

        /******** FILTRE ********/
        .filtre-name{
            margin-bottom: 10px;
        }
}

@media screen and (min-width: 960px) and (max-width: 1599px){ /*Ecran de tablette paysage & PC*/

}

@media screen and (min-width: 1599px){ /*Ecran PC large*/

}