/******** IMPORT CSS ********/
@import 'header.css'; 
@import 'footer.css';

/******** FONT ********/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/******** BODY ********/
body{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.texte{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/******************** EN-TÊTE *********************/

/******** TITRE ********/
.titre{
    margin: 0px 0px 0px 50px;
}
h1{
    font-size: 18px;
    font-weight: bold;
    padding: 0px; 
}
p{
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}

/******** RECHERCHE ********/
#recherche{
    align-items: baseline;
    margin-bottom: 30px 0px 20px 0px;
}
.fa-map-marker-alt{ /*Propriété Icons localisation*/
    color: black;
    background-color: #f2f2f2;
    padding: 15px;
    padding-top: 14px;
    border: 2px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}
.search{ /*Propiété zone de recherche*/
    font-weight: bold;
    color: black;
    padding: 15px;
    border: 1px solid #f2f2f2;
}
.buttonsearch{ /*Propriété du boutton rechecrcher*/
    color: white; 
    font-weight: bold;
    padding: 15px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}
.iconsearch{ /*Propriété du boutton de l'icon rechercher*/
    display: none;
    border-style: none;
    background-color: transparent;
}
.fa-search{ /*Propriété de l'icon rechercher*/
    color: white;
    padding: 15px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 15px
}

/******** FILTRES ********/
#filtres{ /*Mise en place de la Flexbox*/
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
h2{
    margin-right: 20px;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* Propriété des filtres et icons*/
button {
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
.buttons{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 20px;
    border: 2px solid #f2f2f2;
    padding-left: 40px;
    padding: 0px 20px 0px 40px;
    border-radius: 30px;
    font-weight: bold;
    height: 45px;
    padding-right: 20px;
}
.filters i{
    color: #0065FC;
    background-color: #DEEBFF;
    position: absolute;
    width: 45px;
    padding: 16px 0px 15px 0px;
    margin-right: 10px;
    left: -10px;
    border-radius: 50%;
}
.buttons:hover{ /*Effet au survol des filtres*/
    box-shadow: inset 200px 0 0 0 #f2f2f2;
    border: 2px solid #DEEBFF;
    transition: ease-out 0.4s;
    cursor: pointer;
}

/******** INFO ********/
.info{
    margin-left: 50px; 
    justify-content: flex-start;
}
.fa-info{
    color: #0065FC;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    display: inline-block;
}

/******************** MAIN *********************/

/******************** HEBERGEMENTS *******************/
#hebergements{
    display: flex;
    margin: 40px;
}
#hebergements h1{
    margin-left: 20px;
}
h3{
    margin-bottom: 5px;
}

/******** ARTICLE HERBERGEMENTS ********/
.hosting-marseille{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    flex: 65%;
}
.hosting-block{
    display: flex;
    flex-wrap: wrap;
}
.hosting-block a{
    flex: 1 25%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 5px;
}
.img-hosting img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.hosting-marseille p{
    margin: 8px 0px 8px 0px;
}

/******** AFFICHER PLUS *********/
#hebergements .show-more{
    padding: 25px;
    font-weight: bold;
    font-size: 16px;
}

/******** ASIDE HERBERGEMENTS ********/
.popular-hosting{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 30px;
    flex: 25%;

/******** TITRE ASIDE ********/
}
.title-pop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-chart-line{
    font-size: 20px;
    padding-right: 10px;
}

/******** CORPS ASIDE ********/
.hosting-pop{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.hosting-pop a{
    display: flex;
    height: 140px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 5px;
}
.img-hosting-pop img{
    width: 140px;
    height: 140px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}

/******** DESCRIPTION HEBERGEMENTS ********/
.description-hosting{
    line-height:  15px;
    margin-left: 15px;
}
.hosting-marseille .description-hosting{
    margin-bottom: 5px;
}
.popular-hosting .description-hosting{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price{
    margin: 0px 0px 35px 0px;
}


/******** ETOILES ********/
.stars{
    color: #0065FC;
}
.grey{
    color: #f2f2f2;
}

/******************** ACTIVITES ********************/
#activites{
    margin: 40px;
}
.activities-marseille{
    display: flex;
    flex-direction: column;
}
.activities-block{
    display: flex;
    height: 540px;
}
.activities-block a{
    display: flex;
}
.activities-block img{
    border-radius: 15px 15px 0px 0px;
}
.activities-block figcaption{
    margin-left: 20px;
    height: 12%;
}
.activities-block h3{
    margin: 20px 0px 20px 0px;
}
.big-block{
    display: flex;
    flex: 25%;
}
.big-block figure{
    border-radius: 15px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.big-block img{
    width: 100%;
    height: 88%;
    object-fit: cover;
}
.little-block{
    display: flex;
    flex: 25%;
    flex-direction: column;
    justify-content: space-between;
}
.little-block figure{
    border-radius: 15px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.little-block img{
    width: 100%;
    object-fit: cover;
}





/******************** RESPONSIVE *********************/

/******** MOBILE ********/
@media screen and (max-width: 767px){
    body{
        max-width: 100%;
    }
    /******** TITRE ********/
    .buttonsearch{
        display: none;
    }
    .iconsearch{
        display: inline-block;
        margin-left: -20px;
    }

    /******** FILTRE ********/
    .filtres li{
        margin-bottom: 10px;
    }

    /******** HERBERGEMENTS ********/
    #hebergements{
        display: flex;
        flex-direction: column-reverse;
        margin: 30px 0px 0px 0px;
    }

    /******** ASIDE HEBERGEMENTS *********/
    .popular-hosting{
        border-radius: 0px;
        padding: 15px 15px 30px 15px;
    }

    /******** ARTICLE HEBERGEMENTS *********/
    .hosting-marseille{
        margin-right: 0px;
        border-radius: 0px;
        background-color: white;
        padding: 15px;
    }
    .hosting-block{
        flex-direction: column;
    }
    .hosting-block a{
        margin: 10px;
    }
}

/******** TABLETTE ********/
@media screen and (min-width: 768px) and (max-width: 1124px){ 
    body{
        max-width: 100%;
    }
    /******** TITRE ********/
    .buttonsearch{
        display: none;
    }
    .iconsearch{
        display: inline-block;
        margin-left: -20px;
    }

    /******** FILTRE ********/
    .filtres li{
        margin-bottom: 10px;
    }

    /******** HERBERGEMENTS ********/
    #hebergements{
        display: flex;
        flex-direction: column-reverse;
        margin: 30px 0px 0px 0px;
    }

    /******** ASIDE HEBERGEMENTS *********/
    .popular-hosting{
        border-radius: 0px;
        padding: 30px 15px 15px 15px;
    }

    /******** ARTICLE HEBERGEMENTS *********/
    .hosting-marseille{
        margin-right: 0px;
        border-radius: 0px;
        background-color: white;
        padding: 15px;
    }
    .hosting-block a{
        margin: 10px;
        flex: 1 40%;
    }
}

/*TABLETTE PAYSAGE & PC ********/
@media screen and (min-width: 1125px) and (max-width: 1599px){
    /******** HERBERGEMENTS ********/
    #hebergements{
        display: flex;
        flex-direction: column-reverse;
    }
    .hosting-marseille{
        margin-right: 0px;
    }
    .popular-hosting{
        margin-bottom: 30px;
    }
    .hosting-pop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hosting-pop a{
        flex: 1 30%;
    }
    .space{
        position: relative;
        top: 4%;
    }
}

/******** PC LARGE ********/
@media screen and (min-width: 1599px){ 

}