/******** IMPORT CSS ********/
@import 'header.css'; 
@import 'footer.css';


/******** TITRE ********/
.titre{
    margin-left: 50px;
}
h1{
    font-size: 18px;
    font-weight: bold;
    padding: 0px; 
}
p{
    padding: 0px;
}

/******** RECHERCHE ********/
#recherche{
    align-items: baseline;
    margin-bottom: 20px;
    margin-top: 30px;
}
.fa-map-marker-alt{ /*Propriété Icons localisation*/
    color: black;
    background-color: #f2f2f2;
    padding: 15px;
    padding-top: 14px;
    border: 2px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}
.search{ /*Propiété zone de recherche*/
    font-weight: bold;
    color: black;
    padding: 15px;
    border: 1px solid #f2f2f2;
}
.buttonsearch{ /*Propriété du boutton rechecrcher*/
    color: white; 
    font-weight: bold;
    padding: 15px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}
.iconsearch{ /*Propriété du boutton de l'icon rechercher*/
    display: none;
    border-style: none;
    background-color: transparent;
}
.fa-search{ /*Propriété de l'icon rechercher*/
    color: white;
    padding: 15px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 15px
}

/******** FILTRES ********/
#filtres{ /*Mise en place de la Flexbox*/
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
h2{
    margin-right: 20px;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* Propriété des filtres et icons*/
button {
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
.buttons{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 20px;
    border: 2px solid #f2f2f2;
    padding-left: 40px;
    border-radius: 30px;
    font-weight: bold;
    height: 45px;
    padding-right: 20px;
}
.filters i{
    color: #0065FC;
    background-color: #DEEBFF;
    position: absolute;
    width: 45px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 10px;
    left: -10px;
    border-radius: 50%;
}
.buttons:hover{ /*Effet au survol des filtres*/
    box-shadow: inset 200px 0 0 0 #f2f2f2;
    border: 2px solid #DEEBFF;
    transition: ease-out 0.4s;
    cursor: pointer;
}

/******** INFO ********/
.info{
    margin-left: 50px; 
    justify-content: flex-start;
}
.fa-info{
    color: #0065FC;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
    margin-right: 5px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    display: inline-block;
}

/******** MAIN ********/

/******** HEBERGEMENTS ********/
#hebergements{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
}
#hebergements h1{
    margin-left: 20px;
}
#hebergements .show-more{
    margin-left: 20px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 16px;
}

/******** ARTICLE HERBERGEMENTS ********/
.hosting-marseille{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;

}
.hosting-line{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.hosting-line a{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
    height: auto;
    line-height: 25px;
    margin: 10px;
}
.img-hosting img{
    width: 16vw;
    height: 8vw;
    border-radius: 15px 15px 0px 0px;
    padding: 5px 5px 0px 5px;
    object-fit: cover;
}

/******** ASIDE HERBERGEMENTS ********/
.popular-hosting{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.hosting-pop{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.hosting-pop a{
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
    height: auto;
    line-height: 25px;
    margin: 10px;
}
.img-hosting-pop img{
    width: 8vw;
    height: 8vw;
    border-radius: 15px 0px 0px 15px;
    padding: 5px 0px 0px 5px;
    object-fit: cover;
}

/******** DESCRIPTION HEBERGEMENTS ********/
.description-hosting{
    margin-left: 15px;
    line-height:  5px;
}

/******** ETOILES ********/
.stars{
    color: #0065FC;
}

.grey{
    color: #f2f2f2;
}




/******** RESPONSIVE *******/
@media screen and (max-width: 767px){ /*Ecran de mobile*/
    body{
        max-width: 100%;
    }
    /******** TITRE ********/
    .buttonsearch{
        display: none;
    }
    .iconsearch{
        display: inline-block;
        margin-left: -20px;
    }

    /******** FILTRE ********/
    .filtres li{
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px){ /*Ecran de tablette*/
    body{
        max-width: 100%;
    }
    /******** TITRE ********/
    .buttonsearch{
        display: none;
    }
    .iconsearch{
        display: inline-block;
        margin-left: -20px;
    }

        /******** FILTRE ********/
        .filtre-name{
            margin-bottom: 10px;
        }
}

@media screen and (min-width: 960px) and (max-width: 1599px){ /*Ecran de tablette paysage & PC*/

}

@media screen and (min-width: 1599px){ /*Ecran PC large*/

}